@model IEnumerable<Prodavnica.Models.proizvodi>

@{
    ViewBag.Title = "Stranica za unos i izmenu proizvda";
}

<h2>Stranica za unos i izmenu proizvda</h2>

<p>
    @Html.ActionLink("Kreiraj nov", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dobavljaci.dobavljac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategorije.kategorija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proizvodjaci.proizvodjac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dobavljaci.dobavljac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kategorije.kategorija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proizvodjaci.proizvodjac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cena)
        </td>
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.id }) |
            @Html.ActionLink("Obrisi", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
