@model IEnumerable<Prodavnica.Models.dobavljaci>

@{
    ViewBag.Title = "Dobavljaci";
}

<h2>Dobavljaci</h2>

<p>
    @Html.ActionLink("Kreiraj novog dobavljaca", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dobavljac)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dobavljac)
        </td>
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.id }) |
            @Html.ActionLink("Obrisi", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
